<div class="container d-flex align-items-center justify-content-center">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body" *ngIf="!loading">
        <div class="text-center">
          <h3><i class="fa fa-lock fa-4x"></i></h3>
          <h2 class="text-center">¿Deseas recuperar tu contraseña?</h2>
          <p>Acá puedes restablecer tu contraseña.</p>
          <img src="../../../../assets/icon/colores.png" alt="" class="home__leaf-1">
          <div class="panel-body">
            <form class="form" [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
              <fieldset>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input formControlName="email" placeholder="Ingresa tu correo electrónico asociado" class="form-control" type="email" required="">
                  </div>
                </div>
                <img src="../../../../assets/icon/impresion-de-la-mano.png" alt="" class="home__leaf-2">
                <div class="form-group">
                  <input class="btn btn-lg btn-primary btn-block" value="Recuperar contraseña" type="submit">
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <app-spinner *ngIf="loading"></app-spinner>
    </div>
  </div>
</div>
