
        <div class="d-flex justify-content-center mt-5">
            <div class="card text-center mt-5" style="width: 300px;">
              <div class="card-header h5 text-white bg-primary">Recuperar contraseña</div>
              <div class="card-body px-5">
                <p class="card-text py-2">
                  Introduce tu correo electronico para continuar el proceso de recuperar contraseña
                </p>
                <div class="form-outline">
                  <input type="email" id="typeEmail" class="form-control my-3" />
                  <label class="form-label" for="typeEmail">Correo electronico</label>
                </div>
                <a href="#" class="btn btn-primary w-100">Nueva contraseña</a>
                <div class="d-flex justify-content-between mt-4">
                  <a class="" routerLink="/iniciar-sesion">Login</a>
                  <a class="" routerLink="/registro">Registrate</a>
                </div>
              </div>
            </div>
        </div>

<!-- Comentario -->