.card-header {
    margin-top: 20px; /* Ajusta este valor según sea necesario */
  }

  .panel-body {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .text-center {
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .container{
    margin-top: 50px;
  }