<app-banner-home></app-banner-home>

<!-- Información -->
<div class="container mt-2">
  <!-- <img src="../../../../assets/img/ninos-jardin-infantil.webp" class="col-12 col-md-3 cards date info" alt="..."> -->
  <div class="clearfix mt-4">

    <p class="content">
      Orientamos nuestra enseñanza con la lúdica del juego, la alegría y la exploración, formando niños y niñas
      capaces de plantear soluciones creativas a diferentes preguntas, preparándolos para la vida.
    </p>

    <p class="content">
      Somos una solución educativa para la primera infancia, buscando satisfacer las necesidades de las familias
      en la formación integral de sus hijos, desarrollando sus destrezas, habilidades, valores y principios
      morales con una amplia experiencia en el campo educativo.
    </p>

    <p class="content">
      Nuestro enfoque educativo se basa en el aprendizaje activo y la participación de los niños y niñas en su
      propio proceso de formación. Creemos en la importancia de fomentar la curiosidad, la creatividad y el
      pensamiento crítico desde edades tempranas, y para ello contamos con un equipo de profesionales altamente
      capacitados en el área de la educación infantil.
    </p>
  </div>
</div>

<!-- Adjetivos -->
<div class="container mt-5">
    <div class="col-12">
      <div class="banner__Bcards">
        <h2 class="content">Nuestros objetivos</h2>
        <div class="container">
          <div class="row py-5">
            <div class="col-12 col-md-3 cards">
              <div class="card">
                <img src="../../../../assets/img/mision.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Misión</h5>
                  <a class="btn btn__card" (click)="mision()">Más información</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-3 cards">
              <div class="card">
                <img src="../../../../assets/img/vision.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Visión</h5>
                  <a class="btn btn__card" (click)="vision()">Más información</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-3 cards">
              <div class="card">
                <img src="../../../../assets/img/enfoque.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Enfoque</h5>
                  <a class="btn btn__card" (click)="enfoque()">Más información</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-3 cards">
              <div class="card">
                <img src="../../../../assets/img/fortaleza.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Fortalezas</h5>
                  <a class="btn btn__card" (click)="fortalezas()">Más información</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
