.content{
    text-align: center;
}

.card-title{
    text-align: center;
}

.btn {
    justify-content: center;
    display: flex;
    background-color:	#8000FF;
    border: 2px solid #8000FF;
}

.date {
    width: 100%;
    max-width: 960px; /* establecer un ancho máximo para el contenedor */
    margin: 0 auto; /* centrar el contenedor en la página */
  
    img {
      max-width: 100%; /* ajustar el ancho máximo de la imagen al 100% del ancho del contenedor */
      height: auto; /* permitir que la altura de la imagen se ajuste automáticamente */
    }
  
    @media screen and (max-width: 767px) {
      /* reglas específicas para dispositivos móviles */
      max-width: 100%; /* establecer el ancho máximo del contenedor al 100% del ancho de la pantalla */
    }
  }

.info{ 
 
    width: 100%;
    display: flex;
    justify-content: center;
    }
  
  