.content {
  text-align: center;
  opacity: 0;
  transition: opacity 0.8s ease;

  &.show {
    opacity: 1;
  }
}

.card-title {
  text-align: center;
}

.btn {
  justify-content: center;
  display: flex;
  background-color: #61C3C9;
  border: 2px solid #61C3C9;
  color: #fff;
}

.btn:hover {
  background-color: #fff;
  border: 2px solid #61C3C9;
  color: #61C3C9;
}

.date {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

  img {
    max-width: 100%;
    height: auto;
  }

  @media screen and (max-width: 767px) {
    max-width: 100%;
  }
}

.info {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cards {
  margin-bottom: 20px; /* Ajusta este valor según sea necesario */
}

