<div class="container">
<div class="clearfix">
    <img src="..." class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis earum explicabo laborum. Suscipit repudiandae, aliquid nesciunt rem aspernatur in, nemo dolorem repellat excepturi deleniti dolores neque laudantium corporis accusamus minima?
    </p>
  
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, delectus. Pariatur aperiam ipsum eius est minima rem possimus, eveniet dolorem praesentium velit quas cumque corporis ratione nulla dolorum, voluptatem accusamus.
    </p>
  
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident at labore fuga laudantium temporibus necessitatibus vitae aperiam molestiae, voluptas maxime in velit itaque repellendus exercitationem veritatis aut ipsa. Mollitia, perferendis.
    </p>
  </div>
</div>