.content {
  text-align: center;
}

.card-title {
  text-align: center;
}

.btn {
  justify-content: center;
  display: flex;
  background-color: #8000FF;
  border: 2px solid #8000FF;
}

.date {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

  img {
    max-width: 100%;
    height: auto;
  }

  @media screen and (max-width: 767px) {
    max-width: 100%;
  }
}

.info {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cards {
  margin-bottom: 20px; /* Ajusta este valor según sea necesario */
}
