<app-banner-home></app-banner-home>
<div class="container mt-2">
<div class="clearfix">
    <img src="../../../../assets/img/ninos-jardin-infantil.webp" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis earum explicabo laborum. Suscipit repudiandae, aliquid nesciunt rem aspernatur in, nemo dolorem repellat excepturi deleniti dolores neque laudantium corporis accusamus minima?
    </p>
  
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, delectus. Pariatur aperiam ipsum eius est minima rem possimus, eveniet dolorem praesentium velit quas cumque corporis ratione nulla dolorum, voluptatem accusamus.
    </p>
  
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident at labore fuga laudantium temporibus necessitatibus vitae aperiam molestiae, voluptas maxime in velit itaque repellendus exercitationem veritatis aut ipsa. Mollitia, perferendis.
    </p>
  </div>
</div>

<!-- Adjetivos -->
<div class="container mt-5">
        <div class="col-12">
            <div class="banner__Bcards">
                <h2 class="content">Nuestros objetivos</h2>
                <!-- <h3 class="content">Mundo</h3> -->
                <div class="container">
                <div class="row py-5">
                    <div class="col-12 col-md-3 cards">
                        <div class="card">
                            <img src="../../../../assets/img/mision.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Misión</h5>
                                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                    <a href="#" class="btn btn-primary btn__card">Más información</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 cards">
                        <div class="card">
                            <img src="../../../../assets/img/vision.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Visión</h5>
                                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                    <a href="#" class="btn btn-primary btn__card">Más información</a>
                                </div>
                        </div> <!--sass/styles.scss styles.css --watch-->
                    </div>
                    <div class="col-12 col-md-3 cards">
                        <div class="card">
                            <img src="../../../../assets/img/enfoque.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Enfoque</h5>
                                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                    <a href="#" class="btn btn-primary btn__card">Más información</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 cards">
                        <div class="card">
                            <img src="../../../../assets/img/fortaleza.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Fortalezas</h5>
                                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                    <a href="#" class="btn btn-primary btn__card">Más información</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
</div>