<footer *ngIf="!isLoggedIn" class="bg-dark text-center text-white mt-3">
  <div class="container p-4">
    <section class="mb-4">
      <!-- Redes sociales -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/juancamilo.herrera.338/" role="button"><i class="fab fa-facebook-f"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://accounts.google.com/v3/signin/identifier?dsh=S-503012241%3A1689441869212749&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ifkv=AeDOFXiCodtXSOEbflHiWKWtNnST7BcYGF2cWjrEUoqKllu-QjZkKMkRFwo2hES-TtceZu_gW8ML&rip=1&sacu=1&service=mail&flowName=GlifWebSignIn&flowEntry=ServiceLogin" role="button"><i class="fab fa-google"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/juan_avila1405/" role="button"><i class="fab fa-instagram"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/JuanHerreraSalcedo/Jardin" role="button"><i class="fab fa-github"></i></a>
    </section>

    <section class="mb-4">
      <p>Los valores de respeto, tolerancia y solidaridad son fundamentales en nuestra filosofía educativa.</p>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Derechos reservados.
    <a class="text-white" href="https://mdbootstrap.com/">El oso meloso</a>
  </div>
</footer>
