<!-- Gallery -->
<div class="container">
    <h3>Sobre nosotros</h3>
    <div class="row">
      <img src="../../../../assets/icon/lapices-de-color.png" alt="" class="home__leaf-1">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <img
            src="../../../../assets/img/jardin3.jpg"
            class="w-100 shadow-1-strong rounded mb-4 zoom-img" (click)="gallery()"
            alt="Boat on Calm Water"
          />
      
          <img
            src="../../../../assets/img/jardin6.jpg"
            class="w-100 shadow-1-strong rounded mb-4 zoom-img" (click)="gallery2()"
            alt="Wintry Mountain Landscape"
          />
        </div>
        <img src="../../../../assets/icon/impresion-de-la-mano.png" alt="" class="home__leaf-2">
      
        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="../../../../assets/img/Jardin1.jpg"
            class="w-100 shadow-1-strong rounded mb-4 zoom-img" (click)="gallery3()"
            alt="Mountains in the Clouds"
          />
      
          <img
            src="../../../../assets/img/jardin7.jpg"
            class="w-100 shadow-1-strong rounded mb-4 zoom-img" (click)="gallery4()"
            alt="Boat on Calm Water"
          />
        </div>
      
        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="../../../../assets/img/jardin2.jpg"
            class="w-100 shadow-1-strong rounded mb-4 zoom-img" (click)="gallery5()"
            alt="Waves at Sea"
          />
      
          <img
            src="../../../../assets/img/jardin4.jpg"
            class="w-100 shadow-1-strong rounded mb-4 zoom-img" (click)="gallery6()"
            alt="Yosemite National Park"
          />
        </div>
      </div>
    <p>
        ¡Bienvenido al Jardín Oso Meloso de Cali!
    </p>
    <img src="../../../../assets/icon/numero.png" alt="" class="acerca__leaf">
    <p>
        En medio de la vibrante ciudad de Cali, se encuentra nuestro mágico refugio natural: el Jardín Oso Meloso. Sumérgete en un paraíso verde y encantador que cautivará tus sentidos y te transportará a un mundo de belleza y serenidad.
    </p>
    <p>
        Nuestro jardín es un oasis de paz, donde las flores bailan al ritmo de la brisa y los árboles susurran secretos ancestrales. Aquí, encontrarás una exquisita variedad de plantas y flores exóticas que deleitarán tus ojos y perfumarán el aire con fragancias embriagadoras.
    </p>
    <p>
        Explora nuestros senderos serpenteantes y descubre rincones llenos de magia. Nuestro estanque, adornado con nenúfares y habitado por coloridos peces, te invita a relajarte y dejarte llevar por la tranquilidad que solo la naturaleza puede brindar.
    </p>
    <p>
        Pero eso no es todo: el Jardín Oso Meloso también es hogar de una fascinante colección de mariposas. Sumérgete en el fascinante mundo de estos delicados seres alados mientras revolotean a tu alrededor en una danza etérea y llena de colores.
    </p>
    <p>
        Nuestro compromiso con la conservación del medio ambiente nos impulsa a educar y concienciar a nuestros visitantes sobre la importancia de proteger la flora y la fauna. A través de programas educativos y actividades interactivas, buscamos inspirar a las nuevas generaciones a convertirse en guardianes de nuestro hermoso planeta.
    </p>
    <p>
        Ya sea que estés buscando un escape tranquilo en la naturaleza, una experiencia educativa enriquecedora o simplemente un lugar para recargar energías, el Jardín Oso Meloso de Cali te ofrece todo eso y más. Ven y déjate seducir por la belleza natural que nos rodea.
    </p>
    <img src="../../../../assets/icon/numero.png" alt="" class="acerca__leaf2">
    <p>
        ¡Te esperamos en el Jardín Oso Meloso, donde la magia de la naturaleza cobra vida en cada rincón!
    </p>
</div>
  <!-- Gallery -->

  <main>
    <div class="card card-info1">
      <div class="card-content">
        <h2>Paseos</h2>
      </div>
    </div>
    <div class="card card-info2">
      <div class="card-content">
        <h2>Paseos</h2>
      </div>
    </div>
    <div class="card card-info3">
      <div class="card-content">
        <h2>Paseos</h2>
      </div>
    </div>
    <div class="card card-info4">
      <div class="card-content">
        <h2>Paseos</h2>
      </div>
    </div>
  </main>