<app-banner-institucional></app-banner-institucional>

<!-- Propuesta educativa -->

<div class="container edu">
    <div class="container mt-2">
        <div class="clearfix">
            <img src="../../../../assets/img/institucional.jpg" class="col-md-6 float-md-end mb-3 ms-md-3 date" alt="...">
            <div class="col-md-6">
                <h3>Institucional</h3>
                <p>
                    Somos una institución de educación formal comprometida con la formación integral de los niños y niñas desde edades tempranas. Nuestro enfoque educativo se basa en el amor por la enseñanza y la innovación pedagógica, con el objetivo de preparar a los más pequeños para los desafíos del futuro.
                </p>
                <img src="../../../../assets/icon/colores.png" alt="" class="home__leaf-1">
                <p>
                    En nuestra institución, promovemos un ambiente de aprendizaje activo y participativo, donde los niños y niñas son los protagonistas de su propio proceso de formación. Además, inculcamos valores como el respeto, la solidaridad, la tolerancia y la responsabilidad social, con el fin de formar ciudadanos íntegros y comprometidos con la sociedad.
                </p>
              
                <p>
                    Nuestro equipo de profesionales altamente capacitados en el área de la educación infantil está comprometido con brindar una atención personalizada y adaptada a las necesidades y ritmos de aprendizaje de cada niño y niña, creando un ambiente de confianza y seguridad que favorece su desarrollo integral.
                </p>
            </div>
          </div>        
          <img src="../../../../assets/icon/colores.png" alt="" class="home__leaf-2">
</div>

<!-- Nuestra historia -->

<div class="container history mt-4">
    <div class="row">
      <div class="col-md-6 mb-3">
        <img src="../../../../assets/img/historia.jpg" class="w-100" alt="...">
      </div>
      <div class="col-md-6">
        <h3>Historia</h3>
        <p>
            Hace muchos años, un grupo de docentes soñadores y comprometidos con la educación de los niños y niñas decidieron unirse para crear un proyecto educativo diferente, basado en el amor y la creatividad. Con mucho esfuerzo y dedicación, construyeron un jardín infantil que pronto se convirtió en el lugar favorito de los niños y niñas del barrio.
        </p>
        
        <p>
            Durante todos estos años, han formado a miles de niños y niñas, enseñándoles a explorar el mundo y a descubrir sus talentos y habilidades, siempre con un enfoque en la educación integral y en valores como la solidaridad, la empatía y la responsabilidad.
        </p>
        
        <p>
            Hoy en día, muchos de sus antiguos estudiantes han crecido y se han convertido en personas comprometidas con su comunidad y con la construcción de un mundo mejor. El jardín infantil sigue siendo un lugar de encuentro y aprendizaje para las nuevas generaciones, y su legado sigue vivo en cada uno de los niños y niñas que han pasado por sus aulas.
        </p>
      </div>
    </div>
  </div>
  

        

<!-- Nuestro equipo -->

<div class="container team mt-4">
    <div class="clearfix">
        <img src="../../../../assets/img/nuestro-equipo.jpeg" class="col-md-6 float-md-end mb-3 ms-md-3 date" alt="...">
        <div class="col-md-6">
            <h3>Nuestro equipo</h3>
            <p>
                En nuestro jardín infantil, contamos con un equipo humano comprometido y apasionado por la educación de los niños y niñas, quienes trabajan en conjunto para lograr una formación integral en cada una de sus dimensiones. Nuestros docentes, altamente capacitados, buscan siempre ofrecer experiencias educativas significativas y enriquecedoras para los pequeños.
            </p>
          
            <p>
                Además, fomentamos el desarrollo del bilingüismo en los niños y niñas, a través de un programa de inglés impartido de manera lúdica y amigable, que les permita adquirir habilidades y destrezas en un segundo idioma.
            </p>
          
            <p>
                En nuestro jardín, también damos importancia a la iniciación musical y la expresión corporal, buscando que los niños y niñas puedan desarrollar su creatividad y sensibilidad artística desde temprana edad.
            </p>
          
            <p>
                Cada grupo de niños y niñas es dirigido por una docente titular y una auxiliar, ambas con formación en educación preescolar y atención integral a la primera infancia. Además, contamos con una psicóloga permanente y un equipo de docentes especializados en áreas como música, educación física y estimulación temprana, para brindar una educación de calidad y completa a nuestros pequeños.
            </p>
        </div>
      </div>
    </div>
