.date {
    width: 50%;
    max-width: 960px; /* establecer un ancho máximo para el contenedor */
    margin: 0 auto; /* centrar el contenedor en la página */
    height: 460px;
  
    img {
      max-width: 100%; /* ajustar el ancho máximo de la imagen al 100% del ancho del contenedor */
      height: auto; /* permitir que la altura de la imagen se ajuste automáticamente */
    }
  
    @media screen and (max-width: 576px) {
      max-width: 100%;
      justify-content: center;
      display: flex;
      width: 100%;
    }
  }
h3{
  text-align: center;
}
.home__leaf-1{
  width: 100px;
  top: 50rem;
  left: 0rem;
  transform: rotate(41deg);
  position: absolute;
  opacity: 0.2;
}  
.home__leaf-2{
  width: 100px;
  right: -2rem;
  bottom: 1rem;
  transform: rotate(-15deg);
  position: absolute;
  opacity: .2;
} 
.acerca__leaf{
  width: 100px;
  opacity: .2;
  position: absolute;
  right: -1.5rem;
  bottom: -50rem;
  transform: rotate(-15deg);
}
.acerca__leaf2{
  width: 100px;
  opacity: .2;
  position: absolute;
  left: 0rem;
  bottom: -30rem;
  transform: rotate(-15deg);
}

@media screen and (max-width: 576px) {
    .home__leaf-1{
      display: none;
    }  
  .home__leaf-2{
      display: none;
    } 
  .acerca__leaf{
      display: none;
  }
  .acerca__leaf2{
      display: none;
  }
}