<!-- Header principal -->
<div class="desktop-header" *ngIf="!isLoggedIn || (rol !== 'admin' && rol !== 'docente' && rol !== 'Acudiente')">
  <!-- Contenido del header para usuarios no autenticados o roles no especificados -->
  <div class="scroll">
    <nav class="navbar navbar-expand-lg navbar-transparent mb-1 d-lg-block d-none">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="home">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="cursos">Cursos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="institucional">Institucional</a>
            </li>
            <a href="#" target="_blank" class="logo">
              <img src="../../../assets/img/logo.png" alt="WhatsApp" width="50" height="50">
            </a>
            <li class="nav-item">
              <a class="nav-link" routerLink="nosotros">Sobre nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="contacto">Contáctanos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="iniciar-sesion">Inicia Sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<!-- Header para admin -->
<div class="desktop-header-admin d-lg-block d-none" *ngIf="isLoggedIn && rol === 'admin'">
  <!-- Contenido del header para el rol de admin -->
  <div class="scroll">
    <nav class="navbar navbar-expand navbar-dark bg-dark px-2 nav-admin">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <a href="" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
              administración
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li class="dropdown-item" routerLink="/registro-alumno">Registro alumno</li>
              <li class="dropdown-item" routerLink="/registro-docente">Listado de docentes</li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
              Listado de estudiantes
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li class="dropdown-item" routerLink="/parvulos">Parvulos</li>
              <li class="dropdown-item" routerLink="/transicion">Transicion</li>
              <li class="dropdown-item" routerLink="/prejardin">Prejardin</li>
              <li class="dropdown-item" routerLink="/jardin">Jardín</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/correos">Diligenciar correos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/calendario">Calendario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://meet.google.com/bgy-ahqs-ohe?pli=1" target="_blank">Reuniones</a>
          </li>
        </ul>
      </div>

      <div class="profile-logo dropstart">
        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
          {{ userName }}
        </button>
        <div class="dropdown-menu">
          <!-- Aquí puedes agregar más elementos del menú desplegable si es necesario -->
          <button class="dropdown-item">Perfil</button>
          <button class="dropdown-item" (click)="logout()">Cerrar sesión</button>
        </div>
      </div>
      
      
    </nav>

  </div>
</div>


<!-- Header para docente -->
<div class="desktop-header-docente d-lg-block d-none" *ngIf="isLoggedIn && rol === 'docente'">
  <!-- Contenido del header para el rol de docente -->
  <div class="scroll">
    <nav class="navbar navbar-dark bg-primary fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand">{{ userName }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-primary" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" data-bs-backdrop="false">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/listadoCurso">Mi curso</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/calendario">Calendario</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/correos">Dirigenciar correo</a>
              </li>
            </ul>
            <button class="btn btn-danger" (click)="logout()">Cerrar sesión</button>
          </div>
        </div>
      </div>
    </nav>
    
  </div>
</div>


<!-- Header para acudiente -->
<div class="desktop-header-acudiente d-lg-block d-none" *ngIf="isLoggedIn && rol === 'Acudiente'">
  <!-- Contenido del header para el rol de acudiente -->
  <div class="scroll">
    <nav class="navbar navbar-dark bg-warning fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand">{{ userName }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-warning" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" data-bs-backdrop="false">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Perfil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
            <button class="btn btn-danger" (click)="logout()">Cerrar sesión</button>
          </div>
        </div>
      </div>
    </nav>
    
  </div>
</div>


<!-- Header para vista móvil -->
<div class="mobile-header" *ngIf="!isLoggedIn || (rol !== 'admin' && rol !== 'docente' && rol !== 'Acudiente')">
  <!-- Contenido del header para usuarios no autenticados o roles no especificados -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-1 d-block d-lg-none">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" (click)="toggleMenu()" [class.collapsed]="!menuOpen">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [class.show]="menuOpen">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="cursos">Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="institucional">Institucional</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="nosotros">Sobre nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contacto">Contáctanos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="iniciar-sesion">Inicia Sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


<!-- Header para vista móvil - admin -->
<div class="mobile-header" *ngIf="isLoggedIn && rol === 'admin'">
  <!-- Contenido del header para el rol de admin en la versión móvil -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-1 d-block d-lg-none">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" (click)="toggleMenu()" [ngClass]="{'active': menuOpen}">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [ngClass]="{'show': menuOpen}">
        <ul class="navbar-nav mx-auto">
          <label for="">{{ userName }}</label>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/registro-docente">Listado docentes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/registro-alumnos">Registro alumnos</a>
          </li>
          <!-- Agrega aquí los enlaces específicos para el rol de admin en la versión móvil -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/parvulos">Listado Párvulos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/transicion">Listado Transición</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/prejardin">Listado Prejardín</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/jardin">Listado Jardín</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">Diligenciar correos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://meet.google.com/bgy-ahqs-ohe?pli=1" target="_blank">Reuniones</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


<!-- Header para vista móvil - docente -->
<div class="mobile-header" *ngIf="isLoggedIn && rol === 'docente'">
  <!-- Contenido del header para el rol de docente en la versión móvil -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-1 d-block d-lg-none">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" (click)="toggleMenu()" [ngClass]="{'active': menuOpen}">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavMobileDocente"  [ngClass]="{'show': menuOpen}">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/listadoCurso">Mi curso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/calendario">Calendario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/correos">Dirigenciar correo</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


<!-- Header para vista móvil - acudiente -->
<div class="mobile-header" *ngIf="isLoggedIn && rol === 'Acudiente'">
  <!-- Contenido del header para el rol de acudiente en la versión móvil -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-1 d-block d-lg-none">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" (click)="toggleMenu()" [ngClass]="{'active': menuOpen}">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavMobileAcudiente" [ngClass]="{'show': menuOpen}">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Inicio</a>
          </li>
          <!-- Agrega aquí los enlaces específicos para el rol de acudiente en la versión móvil -->
          <li class="nav-item">
            <a class="nav-link" routerLink="dashboard">Panel de acudiente</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>