.desktop-header .navbar {
  background-image: url(../../../assets/img/clouds.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  padding-top: 45px;
}

.desktop-header .navbar-brand {
  display: none;
}

.desktop-header .navbar-toggler {
  border-color: transparent;
}

.desktop-header .navbar-nav {
  position: relative;
  top: -20px;
  justify-content: center;
}

.desktop-header ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.desktop-header li {
  margin: 0 10px;
}

.desktop-header .navbar .navbar-nav .nav-link {
  color: #000;
  font-size: 1.1em;
  padding: .5em 1em;
}

.desktop-header .navbar ul li a {
  position: relative;
}

.desktop-header .navbar ul li a::before {
  bottom: -5px;
  right: -10px;
  width: 90%;
  opacity: 0;
}

.desktop-header .navbar ul li a::after {
  bottom: -10px;
  left: 0;
  width: 60%;
}

.desktop-header .navbar ul li a.activo::before,
.desktop-header .navbar ul li a:hover::before {
  opacity: 1;
  width: 70%;
}

.desktop-header .navbar ul li a.activo::after,
.desktop-header .navbar ul li a:hover::after {
  opacity: 1;
  width: 40%;
}

.desktop-header .navbar ul li a::before,
.desktop-header .navbar ul li a::after {
  border-bottom: 2px solid #fff;
  content: '';
  position: absolute;
  transition: 0.5s;
}

.mobile-header .navbar {
  background-image: none;
}

.mobile-header .navbar-nav li {
  margin: 0 10px;
}

.navbar-nav .logo img {
  width: 80px; /* Ajusta el tamaño del logo según tus necesidades */
  height: 80px;
}

.header-admin {
  text-decoration: none;
  color: #ffffff; /* Cambia el color a blanco o el color deseado */
  transition: none; /* Desactiva la transición/animación */
  cursor: default; /* Desactiva el cursor de cambio al colocar el mouse */
  height: 100%;
}

.side-nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.side-nav-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30%;
}

@media screen and (min-width: 992px) {
  .desktop-header .navbar-nav {
    flex-wrap: wrap;
    height: 157px;
  }

  .desktop-header .navbar-nav > li {
    margin: 10px;
  }

  .desktop-header .navbar-collapse {
    justify-content: center;
  }

  .mobile-header {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .mobile-header {
    .navbar-collapse {
      transition: max-height 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
      max-height: 0;
      overflow: hidden;
  
      &.show {
        max-height: 100vh; /* Cambia la altura máxima según tus necesidades */
      }
    }
  }
  
}
