.content{
    text-align: center;
}

.card-title{
    text-align: center;
}

.btn {
    justify-content: center;
    display: flex;
    background-color:	#8000FF;
    border: 2px solid #8000FF;
}

.btn:hover{
    background-color: #078CAA;
    border: 2px solid #078CAA;
}