<!-- Adjetivos -->
<div class="container mt-5">
        <div class="col-12">
            <div class="banner__Bcards">
                <h2 class="content">Nuestros cursos</h2>
                <!-- <h3 class="content">Mundo</h3> -->
                <div class="container">
                <div class="row py-5">
                    <div class="col-12 col-md-3 cards">
                        <div class="card">
                            <img src="../../../../assets/img/mision.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Parvulos</h5>
                                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                    <a href="#" class="btn btn-primary btn__card" (click)="parvulos()">Más información</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 cards">
                        <div class="card">
                            <img src="../../../../assets/img/vision.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Prejardín</h5>
                                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                    <a href="#" class="btn btn-primary btn__card">Más información</a>
                                </div>
                        </div> <!--sass/styles.scss styles.css --watch-->
                    </div>
                    <div class="col-12 col-md-3 cards">
                        <div class="card">
                            <img src="../../../../assets/img/enfoque.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Jardín</h5>
                                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                    <a href="#" class="btn btn-primary btn__card">Más información</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 cards">
                        <div class="card">
                            <img src="../../../../assets/img/fortaleza.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Transición</h5>
                                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                    <a href="#" class="btn btn-primary btn__card">Más información</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
</div>